################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeamPi-TwitterHashtag/.vs/TeamPi-TwitterHashtag
/TeamPi-TwitterHashtag/HashtagWebApp/bin/Debug/netcoreapp3.1
/TeamPi-TwitterHashtag/HashtagWebApp/obj
/TeamPi-TwitterHashtag/TwitterHashtag/.env
/TeamPi-TwitterHashtag/HashtagAPI/obj/Debug/netcoreapp3.1
/TeamPi-TwitterHashtag/HashtagAPI/bin/Debug/netcoreapp3.1
/TeamPi-TwitterHashtag/HashtagAPI/obj
/TeamPi-TwitterHashtag/TwitterHashtag/bin
/TeamPi-TwitterHashtag/TwitterHashtag/obj/Debug
