################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeamPi-TwitterHashtag/.vs/TeamPi-TwitterHashtag
/TeamPi-TwitterHashtag/HashtagWebApp/bin/Debug/netcoreapp3.1
/TeamPi-TwitterHashtag/HashtagWebApp/obj
/TeamPi-TwitterHashtag/TwitterHashtag/.env
/TeamPi-TwitterHashtag/HashtagAPI/obj/Debug/netcoreapp3.1
/TeamPi-TwitterHashtag/HashtagAPI/bin/Debug/netcoreapp3.1
/TeamPi-TwitterHashtag/HashtagAPI/obj
/TeamPi-TwitterHashtag/TwitterHashtag/bin
/TeamPi-TwitterHashtag/TwitterHashtag/obj/Debug
/TeamPi-TwitterHashtag/Twitter Hashtag Node/bin
/TeamPi-TwitterHashtag/Twitter Hashtag Node/obj/Debug
/TeamPi-TwitterHashtag/Twitter Hashtag Node/node_modules
/TeamPi-TwitterHashtag/Twitter Hashtag Node/.env
/TeamPi-TwitterHashtag/HashtagAPI/bin/Release/netcoreapp3.1
/TeamPi-TwitterHashtag/HashtagAPI/Properties/PublishProfiles
/TeamPi-TwitterHashtag/Twitter Hashtag Node/obj/Release
/TeamPi-TwitterHashtag/Twitter Hashtag Node/test.js
/TeamPi-TwitterHashtag/Twitter Hashtag Node/serverCopy.js
